body {
color: #ffffff;
background-color: #000000;
font-family: "Open Sans", sans-serif; 
text-align: center;
text-decoration: none;
}
#content {
overflow: auto;
margin: 5% 0 0 0;
}
#footer {
font-size: 14px;	
overflow: auto;
margin: 5% 0 0 0;
}